<script lang="ts">
import { defineComponent, computed, ref } from "vue";
import Asset from "../components/Asset.vue";
import Create from "../components/Create.vue";
import { useStore } from "vuex";

export default defineComponent({
  components:{
    Asset,
    Create,
  },
  setup(){
    const store = useStore();
    const userInfo = computed(() => store.getters.userInfo);
    const createStatus = ref(false);

    // 關閉創立資產視窗
    const closeCreate = () => {
      createStatus.value = false;
    }

    // 打開創立資產視窗
    const clickOpenCreate = () => {
      createStatus.value = true;
    }


    return { userInfo, createStatus, closeCreate, clickOpenCreate };
  }
})
</script>

<template>
  <div class="main">
    <div class="asset">
      <div class="createBack">
        <div class="create" @click="clickOpenCreate()">Create</div>
      </div>
      <div class="contentBack">
        <Asset v-for="item in userInfo.assets" :key="item.hash" :assetHash = item.hash :assetAddress = userInfo.address :assetName = item.name :assetPrice = item.price />
      </div>
    </div>
  </div>
  <Create :address="userInfo.address" @CloseJump="closeCreate()" v-if="createStatus"/>
</template>

<style lang="scss" scoped>
.main{
  display: flex;
  flex-wrap: wrap;
  width:  100%;
  height: 100%;
  .asset{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1% 5% 5% 5%;
    width:  100%;
    height: 100%;
    >.createBack{
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      justify-content: flex-end;
      align-content: center;
      padding: 1% 1% 1% 1%;
      width: 100%;
      height: 15%;
      >.create{
          width: 100px;
          height: 50px;
          text-align: center;
          line-height: 50px;
          font-size: 25px;
          border-style: none;
          border-radius: 15px;
          cursor: pointer;
          background-color: #5ae342;
      }
    }
    >.contentBack{
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      width: 100%;
      height: 85%;
      border-style: solid;
      border-radius: 15px;
      overflow-y: auto;
      >.content{
        width: 100%;
        height: 50px;
      }
    }
  }
  .wallet{
    display: flex;
    flex-wrap: wrap;
    width:  30%;
    height: 100%;
  }
}
</style>