<script lang="ts">
import { defineComponent, computed } from "vue";
import Commodity from "@/components/Commodity.vue";
import { useStore } from "vuex";

export default defineComponent({
    components: {
        Commodity,
    },
    setup(){
        const store = useStore();
        const userInfo = computed(() => store.getters.userInfo);
        store.dispatch("getAnothersData", {address: userInfo.value.address});
        const anothersData = computed(() => store.getters.anothersData);

        return { userInfo, anothersData };
    }
})
</script>

<template>
  <div class="shopping">
    <div class="item" v-for="item in anothersData" :key="item.hash">
      <Commodity :buyerAddress = userInfo.address :sellerAddress = item.address :name = item.name :hash = item.hash :price = item.price />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.shopping{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 5% 2% 2% 2%;
    overflow-y: auto;
    >.item{
      width: 20%;
      height: 180px;
      box-sizing: border-box;
      padding: 1% 1% 1% 1%;
    }
}
</style>