<script lang="ts">
import { defineComponent, reactive } from "vue";
import axios from "axios";
import { useStore } from "vuex";

export default defineComponent({
    props: {
        assetAddress: {
            type: String,
            default: ""
        },
        assetHash: {
            type: String,
            default: ""
        },
        assetName: {
            type: String,
            default: ""
        },
        assetPrice: {
            type: Number,
            default: 0
        }
    },
    setup(props : any){
        const store = useStore();
        const assetInfo = reactive({address: props.assetAddress, hash: props.assetHash, name: props.assetName, price: props.assetPrice});

        const clickDeleteAsset  = () => {
            axios.post("http://localhost:5000/delete", {address: assetInfo.address, name: assetInfo.name})
            .then((res) => {
                console.log(res.data);
                store.dispatch("getMetamaskInfo");
            })
        }

        const clickDownloadFile = () => {
            axios.post("http://localhost:5000/download", {hash: assetInfo.hash}, {responseType: "blob"})
            .then((res) => {
                const url = window.URL.createObjectURL(new Blob([res.data], { type: 'application/octet-stream' }));
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', assetInfo.name);
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            })
        }

        return { assetInfo, clickDeleteAsset, clickDownloadFile };
    }
})
</script>

<template>
  <div class="assetMain">
    <div class="nameBack">
        <div class="name" @click="clickDownloadFile()">
            {{ assetInfo.name }}
        </div>
    </div>
    <div class="buttonBack">
        <div class="price">{{ assetInfo.price }} eth</div>
        <div class="button" @click="clickDeleteAsset()">Delete</div>
    </div>
  </div>
</template>


<style lang="scss" scoped>
.assetMain{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 80px;
    >.nameBack{
        display: flex;
        box-sizing: border-box;
        justify-content: flex-start;
        align-content: center;
        padding: 1% 2% 1% 2%;
        width: 70%;
        height: 100%;
        >.name{
            font-size: 25px;
            height: 50px;
            line-height: 50px;
            cursor: pointer;
        }
    }
    >.buttonBack{
        display: flex;
        box-sizing: border-box;
        justify-content: flex-end;
        padding: 1% 2% 1% 2%;
        width: 30%;
        height: 100%;
        >.price{
            width: 45%;
            height: 50px;
            margin-right: 5%;
            text-align: center;
            line-height: 50px;
            font-size: 25px;
        }
        >.button{
            width: 45%;
            height: 50px;
            margin-right: 5%;
            text-align: center;
            line-height: 50px;
            font-size: 25px;
            border-style: none;
            border-radius: 15px;
            cursor: pointer;
            background-color: #e83a3a;
        }
    }
}
</style>