<script lang="ts">
import { defineComponent, reactive } from "vue";
import axios from "axios";
import { useStore } from "vuex";
import store from "../store";

export default defineComponent({
    props:{
        buyerAddress: {
            type: String,
            default: ""
        }
        ,
        sellerAddress: {
            type: String,
            default: ""
        }
        ,
        hash: {
            type: String,
            default: ""
        },
        name: {
            type: String,
            default: ""
        },
        price:{
            type: Number,
            default: 0
        }
    },
    setup(props : any){
        const sotre = useStore();
        const buyerAddress = props.buyerAddress;
        const assetInfo = reactive({sellerAddress: props.sellerAddress, hash: props.hash, name: props.name, price: props.price});

        const clickTransfer  = async () => {
            await (window as any).ethereum.request({ method: 'eth_sendTransaction', 
                params: [
                    {
                        from: buyerAddress,
                        to: assetInfo.sellerAddress,
                        value: (assetInfo.price * Math.pow(10, 18)).toString(16)
                    }
                ]
            })
            .then(() => {
                axios.post("http://localhost:5000/transfer", {from: buyerAddress, to: assetInfo.sellerAddress, assetHash: assetInfo.hash, price: assetInfo.price})
                .then(() => {
                    sotre.dispatch("getAnothersData", {address: buyerAddress});
                    store.dispatch("getMetamaskInfo");
                    alert("交易成功!")
                })
            })
        }

        return { assetInfo, clickTransfer };
    }
})
</script>

<template>
  <div class="commodity">
    <div class="info">
        <div class="item">Name: {{ assetInfo.name }}</div>
        <div class="item">Price: {{ assetInfo.price }}</div>
    </div>
    <div class="buttonBack">
        <div class="button" @click="clickTransfer">Buy</div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.commodity{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    margin: 10px 5px 10px 5px;
    border-style: solid;
    border-radius: 15px;
    >.info{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 70%;
        align-items: flex-start;
        >.item{
            width: 100%;
            height: 50%;
            font-size: 20px;
            text-overflow: ellipsis;
        }
    }
    >.buttonBack{
        display: flex;
        width: 100%;
        height: 30%;
        justify-content: center;
        align-items: center;
        >.button{
            font-size: 20px;
            border-style: solid;
            border-width: 1px;
            border-radius: none;
            box-sizing: border-box;
            padding: 5% 10% 5% 10%;
            cursor: pointer;
            background-color: #e67b3e;
        }
    }
}
</style>