<script lang="ts">
import { defineComponent, reactive, ref } from 'vue';
import axios from 'axios';
import { useStore } from 'vuex';
export default defineComponent({
    props:{
        address:{
            type: String,
            default: "",
        }
    },
    setup(props : any, {emit} : any){
        const store = useStore();
        const createInfo = reactive({address: props.address, price: ""});
        const uploadFile = ref<File | null>();

        const onFileChanged = ($event: Event) => {
            const target = $event.target as HTMLInputElement;
            if (target && target.files) {
                uploadFile.value = target.files[0];
            }
        }

        const creatAsset = () => {
            const formData = new FormData();
            formData.append("address", createInfo.address);
            formData.append("file", uploadFile.value as Blob);
            formData.append("price", createInfo.price);
            axios.post("http://localhost:5000/upload", formData)
            .then(() => {
                store.dispatch("getMetamaskInfo");
                closeJump();
            })
        }

        // 關閉視窗
        const closeJump = () => {
            emit("CloseJump", false);
        }

        return { createInfo, uploadFile, onFileChanged, creatAsset, closeJump }
    }
})
</script>

<template>
    <div class="jump"  @click="closeJump">
        <div class="info_back" @click.stop="stopMaopao">
            <div class="title">
                <div class="close" @click="closeJump">
                </div>
            </div>
            <div class="content">
               <div class="item">
                <input type="file" @change="onFileChanged($event)">
               </div>
               <div class="item">
                <input type="text" class="price" oninput="value=value.replace(/[^\d]/g,'')" v-model="createInfo.price">
                <div class="priceImg"></div>
               </div>
               <div class="buttonBack">
                    <div class="button" @click="creatAsset()">
                        新增資產
                    </div>
               </div>
            </div>
        </div>
    </div>  
</template>

<style lang="scss" scoped>
.jump{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  position: absolute;
  background-color: rgba(104, 98, 98, 0.3);
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 999;
  >.info_back{
        display: flex;
        flex-wrap: wrap;
        width: 30%;
        height: 30%;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 15px;
        >.title{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            width: 100%;
            height: 15%;
            box-sizing: border-box;
            padding: 1%;
            >.close{
                width: 5%;
                height: 100%;
                background-image: url("~@/assets/images/close.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                cursor: pointer;
            }
        }
        >.content{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            width: 100%;
            height: 85%;
            padding: 1% 10% 1% 10%;
            >.item{
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-content: center;
                width: 100%;
                height: 20%;
                >.price{
                    font-size: 20px;
                    margin-right: 2%;
                }
                >.priceImg{
                    width: 10%;
                    height: 100%;
                    background-image: url("~@/assets/images/money.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
            }
            >.buttonBack{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                width: 100%;
                height: 20%;
                >.button{
                    box-sizing: border-box;
                    padding: 2% 2% 2% 2%;
                    border-style: solid;
                    border-radius: 15px;
                    border-width: 1px;
                    font-size: 16px;
                    cursor: pointer;
                }
            }

        }
  }
}
</style>
