<script lang="ts">
import { defineComponent, computed } from "vue";
import { useStore } from "vuex";

export default defineComponent({
  setup(){
    const store = useStore();
    const userInfo = computed(() => store.getters.userInfo);

    const clickGetMetamaskInfo = () => {
      store.dispatch("getMetamaskInfo");
    }
    
    return { userInfo, clickGetMetamaskInfo };
  }
})
</script>

<template>
  <div class="main"> 
    <div class="left">
        <div class="header">
          <div class="text">Assets System</div>
          <div class="link">
            <router-link to="/" class="item">Home</router-link>
            <router-link to="/shopping" class="item">Shopping</router-link>
          </div>
        </div>
        <div class="content">
          <router-view/>
        </div>
      </div>
      <div class="right">
        <div class="foxBack">
          <div class="fox"></div>
        </div>
        <div class="content">
          <div class="connectButton" v-if="userInfo.address === null" @click="clickGetMetamaskInfo">
            Login with Metamask
          </div>
          <div class="matamaskInfo" v-if="userInfo.address != null">
            <div class="item">Balance: {{ userInfo.balance }} eth</div>
          </div>
        </div>
      </div>
  </div>
</template>

<style lang="scss">
html,
body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#app {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.main{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  >.left{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    height: 100%;
    >.header{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      box-sizing: border-box;
      padding: 1% 5% 1% 5%;
      width: 100%;
      height: 10%;
      >.text{
        width: 40%;
        font-family: fantasy;
        font-size: 50px;
      }
      >.link{
        display: flex;
        width: 60%;
        height: 100%;
        justify-items: flex-start;
        align-items: center;
        box-sizing: border-box;
        padding: 0% 2% 0% 2%;
        border-left-style: solid;
        >.item{
          font-size: 30px;
          color: #000;
          font-family: fantasy;
          text-decoration: none;
          margin-right: 5%;
        }
      }
    }
    .content{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 90%;
    }
  }
  >.right{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 2% 1% 2% 1%;
    width: 25%;
    height: 100%;
    border-left-style: solid;
    >.foxBack{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 20%;
      >.fox{
        width: 100%;
        height: 100%;
        background-image: url("~@/assets/images/fox.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40%;
      }
    }
    >.content{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: flex-start;
      box-sizing: border-box;
      padding: 8% 2% 2% 2%;
      width: 100%;
      height: 80%;
      >.connectButton{
        font-size: 25px;
        border-style: none;
        border-radius: 15px;
        box-sizing: border-box;
        padding: 2% 2% 2% 2%;
        cursor: pointer;
        background-color: #e67b3e;
      }
      >.matamaskInfo{
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding: 2% 2% 2% 2%;
        border-style: solid;
        border-radius: 15px;
        width: 300px;
        >.item{
          width: 100%;
          height: 50px;
          line-height: 50px;
          font-size: 25px;
          overflow:hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
</style>
